.titulo{
    background-color: rgba(12, 12, 10, 0.616);
    border-radius: 10px;
}
.menu {
    text-align: center;
  }
.menu table {
    border-collapse: collapse;
    width: 100%;
} 
th {
    background-color: #f2f2f2;
    color: #ecc967;
    padding: 10px;
    font-size: 30px;
}
th a {
    text-decoration: none;
}
table, th {
    border-radius: 30px;
}
.sub{
    font-size: 50px;
    text-decoration: none;
}
.iconos a img {
    width: 50px; 
    height: 50px;
}